@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cards {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#score {
    font-size: 200px;
}

.card {
    width: 300px;
    height: 300px;

    margin: 10px;
    border-style: solid;
    border-radius: 20px;

}

.hidden {
    background-color: black;
}