@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&family=Roboto:wght@300&display=swap');

body {
  background-color: #1c1c1c;
  color: white;

  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

.tile {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 5px;
  margin: 2.5px;

  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover {
  cursor: pointer;
}

.button {
  margin: 10px;
  padding: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 5px;
}

.button:hover {
  border-color: #dedede;
  cursor: pointer;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#moves {
  margin: 10px 0px;
}

#tiles {
  display: grid;
  align-items: center;

  align-items: stretch;

  justify-content: center;
}